node_modules
npm-debug.log
.git
.gitignore
.DS_Store
*.log
.env
.env.*
README.md
plan.md
skills
skills-lock.json
.adal
.agents
.aider-desk
.augment
.bob
.claude
.codeartsdoer
.codebuddy
.codemaker
.codestudio
.commandcode
.continue
.cortex
.crush
.cursor
.devin
.factory
.forge
.goose
.iflow
.junie
.kilocode
.kiro
.kode
.mcpjam
.mux
.neovate
.openhands
.pi
.pochi
.qoder
.qwen
.roo
.rovodev
.tabnine
.trae
.vibe
.windsurf
.zencoder
